<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Are you sure to delete this record ?</h1>
<form action="" method="post">
{% csrf_token %}
<table>
	<input type="hidden" name="txtid" value="{{res.id}}">
	<tr><td>RNO </td><td>{{res.rno}}</td></tr>
	<tr><td>Name </td><td>{{res.sname}}</td></tr>
	<tr><td>Branch </td><td>{{res.branch}}</td></tr>
	<tr><td>Fees </td><td>{{res.fees}}</td></tr>
    <tr><td><input type="submit" name="btndelete" value="Delete"/></td><td><a href="viewstudent">Cancel</a></td></tr>

</table>


</form>
</body>
</html>